*{
    margin:0px;
    padding:0px;
    
}

body{
    background:#323232 url(../images/shadow.png) top center no-repeat;
    font-family:"helvetica";
}


#header{
    height:75px;
    width:100%;
    background:#131313 url(../images/header.png) top center no-repeat;
}

#header-inner{
    width:1112px;;
    margin-left:auto;
    margin-right:auto;
}

#logo{
    float:left;
}

#img-logo{
    display:block;
    text-indent:-99999px;
    overflow:hidden;
    width:360px;
    height:26px;
    background:url(../images/logo.png) no-repeat;
    margin-left:-3px;
    margin-top:22px;
}

#head-menu{
    width:688px;
    float:left;
    font-size:18px;
    margin-top:27px;
}

#head-menu a:link, #head-menu a:visited{
    color:#CCCCCC;
    text-decoration:none;
}

#contactbtn{
    display:block;
    width:83px;
    height:31px;
    background:url(../images/contactbtn.png) no-repeat;
    text-indent:-9999px;
    overflow:hidden;
    float:right;
    position:relative;
    z-index:5;
    margin-right:20px;
}

#langotggle{
    display:block;
    width:83px;
    height:31px;
    background:url(../images/lang_toggle.png) no-repeat;
    text-indent:-9999px;
    overflow:hidden;
    float:right;
    position:relative;
    z-index:5;
    
    
}

#contactbtn_no{
    display:block;
    width:83px;
    height:31px;
    line-height:31px;
    float:right;
    position:relative;
    z-index:5;
    margin-right:22px;
    margin-top:0px;
    text-align:center;
}

.addhover:hover{
    background:url(../images/hover.png) no-repeat;
}

#langotggle_no{
    display:block;
    width:83px;
    height:31px;
    float:right;
    position:relative;
    z-index:5;
    margin-top:0px;
    line-height:31px;
    text-align:center;
}

.incontact{
    margin-left:14px;
    margin-top:5px;
}

#main{
    width:960px;
    margin-left:auto;
    margin-right:auto;
    background:#F05A20;
 
}

#main-inner{
    background:url(../images/main-bg.jpg) top center repeat-x;
    width:960px;
    height:100%;
    padding-top:50px;
}

.thanks  #main-inner{
    height:600px;
}

.contact #main-inner{
    height:650px;
}

#main-head{
    display:block;
    text-indent:-999999px;
    overflow:hidden;
    width:520px;
    height:119px;
    background:url(../images/inner-head.png) no-repeat;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:35px;
}

#main-caption{
    width:655px;
    height:132px;
    margin-left:auto;
    margin-right:auto;
    background:url(../images/caption-txt.png) no-repeat;
    padding-bottom:32px;
    text-indent:-9999px;
    overflow:hidden;
}

#body-content{
    width:960px;
}

#col-left{
    width:484px;
    height:345px;
    background:url(../images/ipads.png) no-repeat;
    margin-left:55px;
    margin-bottom:10px;
}

#col-right{
    float:right;
    width:322px;
    height:100px;
    margin-top:-2px;
    padding-left:53px;
    padding-right:50px;
}

#main-features{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:134px;
    height:15px;
    background:url(../images/main-features.png) no-repeat;
    margin-bottom:15px;
}

.rows{
    width:322px;
    height:50px;
    background:url(../images/line.png) bottom center no-repeat;
    color:#fff;
    font-size:14px;
    font-weight:bold;
}

.first{
    margin-top:-6px;
}

.lefts{
    width:172px;
}

.rights{
    width:150px;
    float:right;
}


.thumbs{
    width:142px;
    padding-left:36px;
    height:50px;
    line-height:50px;
    
}

.last{
    margin-bottom:40px;
}

#minifoot{
    height:34px;
    width:322px;
    background:url(../images/let-us.png) left no-repeat;
    
}

#contact{
    display:block;
    text-indent:-99999px;
    overflow:hidden;
    width:113px;
    height:45px;
    background:url(../images/contact-us.png) no-repeat;
    float:right;
    position:relative;
    z-index:5;
}

#slider{
    height:150px;
    width:960px;
    background:url(../images/slider-bg.png) top center repeat-x;
    overflow:hidden;
    position:relative;
}

.items{
    position:absolute;
    width:999999px;
    margin-left:50px;
}

.slider-content{
    width:402px;
    height:104px;
    padding:0px;
    margin:0px;
    margin-right:55px;
    margin-top:30px;
    float:left;
    font-size:14px;
    font-weight:bold;
    color:#FF3300;
}

.sliderimg{
    display:block;
    width:158px;
    height:103px;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
}

#slide1{
    background:url(../images/slide1.png) no-repeat;
}

#slide2{
    background:url(../images/slide2.png) no-repeat;
}

#slide3{
    background:url(../images/slide3.png) no-repeat;
}

#slide4{
    background:url(../images/slide4.png) no-repeat;
}

#slide5{
    background:url(../images/slide5.png) no-repeat;
}

#slide6{
    background:url(../images/slide6.png) no-repeat;
}

.slidehead{
    height:19px;
    margin-left:178px;
    margin-top:24px;
}

#sh1{
    background:url(../images/sh1.png) no-repeat;
}

#sh2{
    background:url(../images/sh2.png) no-repeat;
}

#sh3{
    background:url(../images/sh3.png) no-repeat;
}

#sh4{
    background:url(../images/sh4.png) no-repeat;
}

#sh5{
    background:url(../images/sh5.png) no-repeat;
}

#sh6{
    background:url(../images/sh6.png) no-repeat;
}

.slidertxt{
    margin-left:178px;
    margin-top:8px;
}

.next{
    float:right;
    position:relative;
    z-index:1;
    left:16px;
    top:-90px;
    width:32px;
    height:32px;
    background:url(../images/next.png) no-repeat;
    cursor:pointer;
}

.prev {
    float:left;
    position:relative;
    z-index:1;
    left:-16px;
    top:-90px;
    width:32px;
    height:32px;
    background:url(../images/prev.png) no-repeat;
    cursor:pointer;
}

#blankspace{
    height:80px;
    width:960px;
    background:url(../images/blank-top-line.png) top center repeat-x;
}

.blankhead{
    font-size:16px;
    color:#ff6600;
    margin-bottom:2px;
}

.blankhead a:link, .blankhead a:visited{
    text-decoration:none;
    color:#ff6600;
}

.blanktext{
    font-size:13px;
    color:#999999;
    font-weight:bold;
}

.blanktext strong{
    color:#333333;
}

#sampleapp{
    margin-left:60px;
    padding-top:14px;
    width:369px;
    float:left;
    }

#applogo{
    display:block;
    width:64px;
    height:64px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/vanguardia.png) no-repeat;
    float:left;
    line-height:64px;
    position:relative;
    z-index:5;
}

#sampleapptext{
    position:relative;
    left:12px;
    padding-top:5px;
    padding-bottom:12px;
}

#sociallinks{
    margin-left:64px;
    margin-top:20px;
    float:left;
}

#twitter{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:165px;
    height:20px;
    background:url(../images/twitter.png) no-repeat;
    float:left;
    margin-top:2px;
}

#fb{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:180px;
    height:20px;
    background:url(../images/fb.png) no-repeat;
    float:left;
    margin-top:2px;
    margin-left:20px;
}

#footer{
    height:40px;
    width:960px;
    background:url(../images/footer.png) top center repeat-x;
}

.footlinks{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
    height:20px;
    margin-top:10px;
    line-height:20px;
    position:relative;
    z-index:5;
}

.firstlink{
    margin-left:16px;
    
}

#onixlink{
    width:79px;
}

#homelink{
    width:30px;
    margin-left:16px;
}

#contactlink{
    width:44px;
    margin-left:16px;
}

#langlink{
    width:44px;
    margin-left:16px;
}

#links{
    position:relative;
    top:15px;
    background:url(../images/links.png) no-repeat;
    margin-left:20px;
    width:384px;
    height:10px;
}

#video-div{
    width:550px;
    height:300px;
    background:#000;
    border:1px solid #fff;
    position:relative;
    margin-left:350px;
    margin-top:480px;
    z-index:10;
    
}

#video-margin{
    width:100%;
    height:800px;;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

.close{
    width:100%;
    height:800px;;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
  
}

#video-wrapper{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    position:relative;
    z-index:15;
}

object{
    position:relative;
    z-index:16;
}

.cbutton{
    color:#fff;
    font-weight:bold;
    float:right;
    padding:5px;
    cursor:pointer;
    text-align:left;
    margin-left:490px;
    width:50px;
    height:20px;
}

#closure{
    width:741px;
    margin-left:auto;
    margin-right:auto;
    margin-top:26px;
    font-size:12px;
    color:#cccccc;
    text-align:center;
}

/**Thanks Page**/

#thanksHead{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:611px;
    height:63px;
    background:url(../images/thanksHead.png) no-repeat;
    margin-left:149px;
    margin-top:123px;
}

#thanksBack{
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:13px;
    margin-left:150px;
    margin-top:120px;
}

/**Contact Page**/

#contactTitle{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:611px;
    height:41px;
    background:url(../images/contactTitle.png) no-repeat;
    margin-left:149px;
    margin-top:23px;
}

#phones{
    font-size:14px;
    color:#cccccc;
    margin-left:150px;
    margin-bottom:25px;
    width:300px;
}

#phonesright{
    float:right;
}

#inputsWrapper{
    margin-left:150px;
    margin-top:1px;
}

#inputLables{
    float:left;
    width:86px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    padding-right:17px;
}

.labels{
    padding-bottom:26px;
}

.labelssec{
    padding-bottom:25px;
}

.labelsthir{
    padding-bottom:24px;
}

.labelsfor{
    padding-bottom:25px;
}

.labelsfi{
    padding-bottom:22px;
}

.labelslast{
    margin-top:14px;
}

#inputBoxes{
    float:left;
    width:350px;
}

.inputs{
    width:340px;
    height:30px;
    border:0px;
    background:url(../images/textBox.png) no-repeat;
    margin-bottom:10px;
    font-family:helvetica;
    font-size:13px;
    padding:0 5px;
}

#contactTxtArea{
    width:339px;
    height:180px;
    margin-top:10px;
    font-family:helvetica;
    font-size:13px;
    padding:5px;
}

#checkboxes{
    float:left;
    margin-top:210px;
    margin-left:38px;
    width:300px;
    height:100px;
    font-size:12px;
    font-weight:bold;
    color:#333333;
}

.checkboxHead{
    font-weight:bold;
    font-size:14px;
    color:#fff;
    margin-bottom:15px;
}

#checkboxes input{
    margin-bottom:4px;
    margin-right:3px;
}

.second{
    margin-top:25px;
}

#submitbtn{
    display:block;
    float:right;
    border:none;
    width:94px;
    height:47px;
    background:url(../images/sendBtn.png) no-repeat;
    margin-top:39px;
    cursor:pointer;
}