/**
 * @file
 * Views Styling
 */

 .view-slideshow img
 {
   display: block;
   max-width: 100%;
 }

.view-slideshow strong.balloon
{
  background: url("../images/onix/balloon.png") no-repeat scroll center top transparent;
      font-size: 70px;
      font-weight: normal;
      height: 267px;
      line-height: 55px;
      padding: 75px 25px 75px 65px;
      position: absolute;
      right: 10px;
      text-transform: uppercase;
      top: 45px;
      width: 327px;
      margin: 0;
      color: #999999;
}

.view-slideshow
{
  position: relative;
  overflow: hidden;
}
.view-slideshow .view-content
{
  width: 20000em;
  position: absolute;
}
.view-slideshow .views-row
{
  float: left;
}
#block-views-solutions-block .navi a
{
  width: 8px;
  height: 8px;
  display: block;
  background: url('../images/onix/navi_off.png') no-repeat;
  float: left;
  margin: 3px;
}
#block-views-solutions-block .navi
{
  margin: -5px auto 5px;
  width: 100px;
}
#block-views-solutions-block .navi a.active
{
  background: url('../images/onix/navi_on.png') no-repeat;
}

#block-views-slideshow-block .views-row
{
  position: relative;
}

#block-views-slideshow-block
{
  border-bottom: 2px dashed #999999;
  position: relative;
}

/* solutions views */

#block-views-solutions-block
{
  margin-bottom: 30px;
  position:absolute;
}
.view-solutions .views-row
{
  float: left;
  position: relative;
  padding-bottom: 1px;
}
.view-solutions .container
{
  background-color: #FF3613;
  background-color: rgba(255,66,41,0.95);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613)";
  margin-right: 1px;
  height: 100%;
  padding: 0 20px;
}
.view-solutions .views-row-3,
.view-solutions .views-row-6
{
  margin-right: 0;
}
.view-solutions h3,
.view-solutions .attach-head
{
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 35px;
  line-height: 1em;
  margin: 0;
  padding-top: 20px;
}
.view-solutions p
{
  color: #d5d5d5;
  font-size: 22px;
  margin: 0;
  font-family: "Rockwell", Helvetica, sans-serif !important;
  line-height: 1.05em;
}
.view-solutions .views-row
{
  overflow: hidden;
}
.view-solutions .plus
{
  position: absolute;
  bottom: 1px;
  right: 1px;
  background: url('../images/onix/plus.png') no-repeat center top;
  width:38px;
  height:38px;
  text-indent: -99em;
  overflow: hidden;
  cursor: pointer;
}

.view-solutions .attachment
{
  background-color: #FF3613;
  background-color: rgba(255,66,41,0.95);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613)";
  overflow: hidden;
  position: relative;
}
.view-solutions .attachment .attach-head,
.view-solutions .attachment .body
{
  padding-left: 20px;
  padding-right: 20px;
}
.view-solutions .s-prev
{
  background: url('../images/onix/stage_prev.png') no-repeat center top;
  width: 30px;
  height: 59px;
  position: absolute;
  z-index: 1;
  left: 15px;
  cursor: pointer;
}
.view-solutions .s-prev.disabled,
.view-solutions .s-next.disabled
{
  display: none !important;
}
.view-solutions .s-next
{
  background: url('../images/onix/stage_next.png') no-repeat center top;
  width: 30px;
  height: 59px;
  position: absolute;
  z-index: 1;
  right: 15px;
  cursor: pointer;
}
.view-solutions .attachment .view-solutions
{
  overflow: hidden;
  position: relative;
}
.view-solutions .attachment .view-content
{
  width: 20000em;
  position: absolute;
}
.view-solutions .attachment .views-row
{
  float: left;
}
.view-solutions .attachment .close
{
  position: absolute;
  background: url('../images/onix/close.png') no-repeat center top;
  width: 34px;
  height: 34px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
}

/* proyectos */

.view-projects .body
{
  color: #999999;
  font-size: 16px;
  margin-left: 20px;
  float: left;
  width: 220px;
}
.view-projects .proyectos-tab *
{
  font-family: "Rockwell", Helvetica, sans-serif !important;
}
.view-projects .subtitle
{
  background: url("../images/onix/balloon_proj.png") no-repeat scroll left top transparent;
      float: left;
      font-family: "Franklin ITC Pro",Helvetica,sans-serif !important;
      font-size: 20px;
      height: 79px;
      line-height: 18px;
      padding: 25px 20px 20px;
      text-transform: uppercase;
      width: 84px;
}
.view-projects .proyectos-tab
{
  background-color: #ffffff;
  padding: 0 140px;
  padding-top: 32px;
  border-bottom: 2px dashed #999999;
}
.view-projects .images img
{
  display: block;
  float: left;
}
.view-projects .images
{
  position: relative;
  width: 700px;
  float: left;
}
#block-views-projects-block
{
  margin-top: 25px;
}
#block-views-projects-block h2
{
  text-transform: uppercase;
  font-weight: normal;
  color: #999999;
  font-size: 60px;
  line-height: 60px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.view-projects .view-header
{
  padding: 0 10px;
}
.view-projects .view-header p
{
  margin: 0;
  font-size: 26px;
  line-height: 1.1em;
  color: #E54C30;
  font-family: "Rockwell",Helvetica !important;
}
.view-projects h3
{
  border-bottom: 2px dashed #999999;
  height: 75px;
  text-align: center;
  padding-top: 30px;
  font-weight: normal;
  color: #666666;
  margin: 0;
  text-transform: uppercase;
  text-shadow: #ffffff 1px 1px 0;
  background: url("../images/onix/proj_arrows.png") no-repeat scroll 500px 44px transparent;
}
.view-projects h3.ui-state-active
{
  background: url("../images/onix/proj_arrows.png") no-repeat scroll 500px -44px transparent;
  color: #E54C30;
}
.view-projects h3 .type
{
  color: #999999;
  display: block;
  font-family: "Georgia",serif !important;
  font-size: 14px;
  font-style: italic;
  text-transform: none;
}
.view-projects h3:focus,
.view-projects h3:active
{
  -moz-outline-style: none;
  outline: none;
}
.view-projects h3.last.ui-state-default,
.view-projects .proyectos-tab.last
{
  border: none !important;
}

/**
 * capacidades
 **/
#block-views-knowledge-block
{
 background-color: #333333;
 color: #999999;
 position: relative;
}
#block-views-knowledge-block h2 
{
   color: #ffffff;
   font-size: 60px;
   font-weight: normal;
   line-height: 60px;
   padding: 40px 20px;
 padding-bottom: 0;
   text-transform: uppercase;
}
.knowledge-nav
{
  position: absolute;
      right: 30px;
      top: 45px;
}
.knowledge-nav a
{
  background-color: #666666;
      border-radius: 18px 18px 18px 18px;
      -moz-border-radius: 18px 18px 18px 18px;
      -webkit-border-radius: 18px 18px 18px 18px;
      color: #333333;
      display: block;
      float: left;
      height: 36px;
      line-height: 36px;
      margin-left: 20px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 106px;
}
.knowledge-nav a.active
{
  background-color: #E74E30;
  color: white;  
}
.view-knowledge .body p
{
  margin: 10px 20px;
  font-family: "Rockwell",Helvetica !important;
  font-size: 26px;
  line-height: 26px;
}
.view-knowledge
{
  overflow: hidden;
  position: relative;
}
.view-knowledge .view-content
{
  width: 20000em;
  position: absolute;
}
.view-knowledge .views-row
{
  float: left;
}
