/**
 * @file
 * Views Styling
 */

 .view-slideshow img
 {
   display: block;
 }

/* solutions views */

.view-solutions .views-row
{
  width: 279px;
  height: 225px;
  float: left;
  background-color: #FF3613;
  background-color: rgba(255,66,41,0.95);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFF3613, endColorstr=#EEFF3613)";
  position: relative;
  padding: 30px 20px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.view-solutions .views-row-3,
.view-solutions .views-row-6
{
  margin-right: 0;
  width: 280px;
}
#block-views-solutions-block
{
  margin-top: -610px
}